<!DOCTYPE html>
<html>
    <head>
        <title>
            Welcome to BMI Calculator
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <div class="container">
        <nav class="navbar navbar-light bg-info">
            <a class="navbar-brand">Home</a>
        </nav>
        <body>
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div style="padding-top: 20px;text-align: center;" class="form-group">
                    {{ form.weight.label }}
                    {{ form.weight(size=32) }}
                    {% for error in form.weight.errors %}
                    <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div style="padding-top: 20px;text-align: center;" class="form-group">
                    {{ form.height.label }}
                    {{ form.height(size=32) }}
                    {% for error in form.height.errors %}
                    <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div style="padding-top: 20px;text-align: center;" class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %} 
                
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
            
        </body>
    </div>
</html>